body {
    font-family: 'Arvo' serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center, space-between;
    height: 100vh;
    
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: 'Arvo', serif;
    background-color: #f7f3f3;
    color: white;
}

ul {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
}

li {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 14px;
    color: black;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

h4 {
    margin-left: 10%;
    background-color: #f7f3f3;
    margin-top: 2%;
    font-family: 'Arvo', serif;
    color: black;
}

.laraSpan {
    font-family: 'Arvo', serif;
    color: #4CB690;

}

.button {
    background-color: #4CB690;
    color: rgb(0, 0, 0);
    border: none;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    font-size: 14px;
    margin-top: 1%;
    margin-right: 10%;
    cursor: pointer;
    font-family: 'Arvo', serif;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.button:hover {
    background-color: #f7f3f3;
    color: rgb(0, 0, 0);

}

.topDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 35%;
    background-color: #f7f3f3;
    color: rgb(0, 0, 0);
    
}

.contentLeft {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    margin-left: 10%;
    background-color: #f7f3f3;
    color: rgb(0, 0, 0);
    
    letter-spacing: 2px;
}

.contentRight {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    background-color: #f7f3f3;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
}

.middleContent {
    height: 35%;
    line-height: 2px;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: start;
    padding-left: 4%;
    font-family: 'Arvo', serif;
    background-color: #4CB690;
}

.middleLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    background-color: #4CB690;
    margin-left: 6%;
}

.middleRight {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #4CB690;
    
}

.h1Main {
    font-family: 'Arvo', serif;
    color: #000000;
    font-size: 40px;
    justify-content: start;
    align-items: start;
    display: flex;
    margin-left: 0;

}

.h1 {
    font-family: 'Arvo', serif;
    color: #000000;
    font-size: 40px;
    justify-content: start;
    align-items: start;
    display: flex;
    margin-left: 0;
    opacity: 0.3;  

}

.spanRacode {
    color: black;
    opacity: 0.3;
}

.btnExecute {
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    border: none;
    margin-left: 10%;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'Arvo', serif;
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    
}

.btnExecute:hover {
    background-color: #000000;
    color: #4CB690;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 23%;
    background-color: #272525;
    color: #D9D9D9;
    padding-right: 10%;
    padding-left: 10%;
}

.fab fa-apple {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 4%;
    color: white;
    
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 23%;
    background-color: #272525;
    color: #D9D9D9;
    padding-right: 10%;
    padding-left: 10%;
    overflow-x: auto;
}

.fab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    color: white;
    animation: scrollIcons 8s ease-out infinite;
}

@keyframes scrollIcons {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-40%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(40%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 600px) {
    /* Code to apply for screens with a maximum width of 600px */
    .h1Main {
        font-family: 'Arvo', serif;
        color: #000000;
        font-size: 18px;
        justify-content: start;
        align-items: start;
        display: flex;
        margin-left: 0;
    
    }
    .h1 {
        font-family: 'Arvo', serif;
        color: #000000;
        font-size: 18px;
        justify-content: start;
        align-items: start;
        display: flex;
        margin-left: 0;
        opacity: 0.3;  
    
    }

    .middleLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        width: 65%;
    }

    .middleRight {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 35%;
        height: 100%;
        background-color: #4CB690;
        margin-left: 6%;
    }

    .btnExecute {
        background-color: #D9D9D9;
        color: rgb(0, 0, 0);
        border: none;
        margin-left: 0;
        padding: 0px 4px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
        font-family: 'Arvo', serif;
        
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
        
    
    }
    .button {
        background-color: #4CB690;
        color: rgb(0, 0, 0);
        border: none;
        height: 30px;
        text-align: center;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center; /* Add this line */
        align-items: center; /* Add this line */
        font-size: 12px;
        margin-top: 1%;
        margin-right: 4%;
        cursor: pointer;
        font-family: 'Arvo', serif;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    
    }

    .ul {
        font-family: 'Arvo', serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        margin: 1%;
        padding: 0;
        overflow: hidden;
    
    }

    li {
        font-family: 'Arvo', serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px 4px;
        color: black;
    }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Code to apply for screens with a width between 601px and 1024px */
    .h1Main {
        font-family: 'Arvo', serif;
        color: #000000;
        font-size: 18px;
        justify-content: start;
        align-items: start;
        display: flex;
        margin-left: 0;
    
    }
    .h1 {
        font-family: 'Arvo', serif;
        color: #000000;
        font-size: 18px;
        justify-content: start;
        align-items: start;
        display: flex;
        margin-left: 0;
        opacity: 0.3;  
    
    }

    .middleLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        width: 65%;
    }

    .middleRight {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 45%;
        height: 100%;
        background-color: #4CB690;
        margin-left: 6%;
    }

    .btnExecute {
        background-color: #D9D9D9;
        color: rgb(0, 0, 0);
        border: none;
        margin-left: 0;
        padding: 0px 4px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
        font-family: 'Arvo', serif;
        
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
        
    
    }
    .button {
        background-color: #4CB690;
        color: rgb(0, 0, 0);
        border: none;
        height: 30px;
        text-align: center;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center; /* Add this line */
        align-items: center; /* Add this line */
        font-size: 12px;
        margin-top: 1%;
        margin-right: 4%;
        cursor: pointer;
        font-family: 'Arvo', serif;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    
    }

    .ul {
        font-family: 'Arvo', serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        margin: 1%;
        padding: 0;
        overflow: hidden;
    
    }

    li {
        font-family: 'Arvo', serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px 4px;
        color: black;
    

}

@media screen and (min-width: 1025px) {
    /* Code to apply for screens with a minimum width of 1025px */
}